<header id="header" class="navbar navbar-fixed-bottom rounded-pill shadow-sm">
  <nav class="d-flex justify-content-center align-items-center nav__group">
    <a routerLink="home" routerLinkActive="active" class="nav__link"
      ><i class="bx bi-house"></i> <span>Home</span></a
    >
    <a routerLink="about" routerLinkActive="active" class="nav__link"
      ><i class="bx bi-person-circle"></i> <span>About</span></a
    >
    <a routerLink="resume" routerLinkActive="active" class="nav__link"
      ><i class="bx bi-file-earmark-person"></i> <span>Resume</span></a
    >
    <a routerLink="contact" routerLinkActive="active" class="nav__link"
      ><i class="bx bi-person-lines-fill"></i> <span>Contact</span></a
    >
    <a routerLink="blog" routerLinkActive="active" class="nav__link"
      ><i class="bx bi-chat-square-text"></i> <span>Blog</span></a
    >
  </nav>
</header>
