<section>
  <div class="container-fluid p-3">
    <div class="pb-2">
      <h2 class="text-center">About Me</h2>
    </div>

    <div class="row bg-white rounded p-3 shadow-lg" id="about">
      <div class="col-md-3 profileimg">
        <img src="assets/profile.jpg" class="img-fluid rounded" alt="" />
      </div>
      <div class="col-md-9 pt-4 pt-lg-0 content">
        <p class="text-justify about__content">
          Hello, I'm Naveen Joshi. I am a professional Developer, currently
          sailing through the world of web with MEAN/MERN stack. Also exploring
          ways to be in cloud with automation engines. Always a believer in
          Karma.
        </p>
        <h3 class="text-center text-justify">How I Started</h3>
        <p class="text-justify about__content">
          A village boy, always fascinated towards computers. My journey with
          computers started with playing games on it for hours. Then sudden urge
          to explore it more and arrive to MS Office world which was fun. But
          Windows issues push me to learn about MS-DOS and basic configuration
          for XP 😂. During that time met with Command prompt💻.
        </p>
        <p class="text-justify about__content">
          Love for computers, bring me to the Computer Science & Engineering
          Field. I progressed in this journey, I was totally in love with SQL,
          Java and DSA. During this learning journey, build few applications
          like Notepad, Paint and Banking System
        </p>
        <div class="row">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="timeline_area section_padding_130">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
     
        <div class="section_heading text-center">
          <h2>About</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
 
        <div class="apland-timeline-area">
        
          <div class="single-timeline-area">
            <div
              class="timeline-date wow fadeInLeft"
              data-wow-delay="0.1s"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInLeft;
              "
            >
              <p>Near Future</p>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.3s"
                  style="
                    visibility: visible;
                    animation-delay: 0.3s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Updated 5.0</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Fixed bug</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.7s"
                  style="
                    visibility: visible;
                    animation-delay: 0.7s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Reach 1k Users</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="single-timeline-area">
            <div
              class="timeline-date wow fadeInLeft"
              data-wow-delay="0.1s"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInLeft;
              "
            >
              <p>2020</p>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.3s"
                  style="
                    visibility: visible;
                    animation-delay: 0.3s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Updated 4.4.0</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Fixed bug</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="single-timeline-area">
            <div
              class="timeline-date wow fadeInLeft"
              data-wow-delay="0.1s"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInLeft;
              "
            >
              <p>2019</p>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.3s"
                  style="
                    visibility: visible;
                    animation-delay: 0.3s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Updated 4.0</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Fixed bug</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.7s"
                  style="
                    visibility: visible;
                    animation-delay: 0.7s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Reach 500 Users</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="timeline_area section_padding_130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
       
        <div class="section_heading text-center">
          <h6>Our History</h6>
          <h3>A brief stories of our 2 years company journey</h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
    
        <div class="apland-timeline-area">
         
          <div class="single-timeline-area">
            <div
              class="timeline-date wow fadeInLeft"
              data-wow-delay="0.1s"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInLeft;
              "
            >
              <p>Near Future</p>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.3s"
                  style="
                    visibility: visible;
                    animation-delay: 0.3s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Updated 5.0</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Fixed bug</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.7s"
                  style="
                    visibility: visible;
                    animation-delay: 0.7s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Reach 1k Users</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          <div class="single-timeline-area">
            <div
              class="timeline-date wow fadeInLeft"
              data-wow-delay="0.1s"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInLeft;
              "
            >
              <p>2020</p>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.3s"
                  style="
                    visibility: visible;
                    animation-delay: 0.3s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Updated 4.4.0</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Fixed bug</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="single-timeline-area">
            <div
              class="timeline-date wow fadeInLeft"
              data-wow-delay="0.1s"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInLeft;
              "
            >
              <p>2019</p>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.3s"
                  style="
                    visibility: visible;
                    animation-delay: 0.3s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Updated 4.0</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.5s"
                  style="
                    visibility: visible;
                    animation-delay: 0.5s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Fixed bug</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div
                  class="single-timeline-content d-flex wow fadeInLeft"
                  data-wow-delay="0.7s"
                  style="
                    visibility: visible;
                    animation-delay: 0.7s;
                    animation-name: fadeInLeft;
                  "
                >
                  <div class="timeline-icon">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                  </div>
                  <div class="timeline-text">
                    <h6>Reach 500 Users</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
