<section id="resume" class="resume">
  <div class="container-fluid p-3">
    <div class="section-title">
      <h2 class="text-center">Resume</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>

    <div class="row bg-white rounded p-5 shadow">
      <div class="col-lg-6">
        <h3 class="resume-title text-center">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Naveen Joshi</h4>
          <p>
            <em
              >Innovative and deadline-driven Graphic Designer with 3+ years of
              experience designing and developing user-centered digital/print
              marketing material from initial concept to final, polished
              deliverable.</em
            >
          </p>
          <ul>
            <li>Portland par 127,Orlando, FL</li>
            <li>+91 8769623155</li>
            <li>naveen_joshi07@outlook.com</li>
          </ul>
        </div>

        <h3 class="resume-title text-center">Education</h3>
        <div class="resume-item">
          <h4>B.Tech (Computer Science & Engineering)</h4>
          <h5>2015 - 2019</h5>
          <p>
            <em
              >Jodhpur Institute of Engineering & Technology, Jodhpur,
              Rajasthan</em
            >
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title text-center">Professional Experience</h3>
        <div class="resume-item">
          <h4>Senior Systems Engineer</h4>
          <h5>2019 - Present</h5>
          <p><em>Infosys Ltd., Pune, Maharashtra </em></p>
          <ul>
            <li>
              Lead in the design, development, and implementation of the
              graphic, layout, and production communication materials
            </li>
            <li>
              Delegate tasks to the 7 members of the design team and provide
              counsel on all aspects of the project.
            </li>
            <li>
              Supervise the assessment of all graphic materials in order to
              ensure quality and accuracy of the design
            </li>
            <li>
              Oversee the efficient use of production project budgets ranging
              from $2,000 - $25,000
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
